<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="css/materializecss/materialize.css">
      <link rel="stylesheet" href="/css/fontawesome-pro-5.8.2-web/css/all.css">
      <link rel="stylesheet" href="css/custom.css">
      <link rel="icon" href="/img/suntrans.png">
    <meta charset="utf-8">
    <title>Help</title>
  </head>
  <body>
    <div class="main">
      {{>header}}
      <div class="container">
        <h1>
        Help
        </h1>
        <div class="divider"></div>

        <div class="row">
            <div class="col s12">
                <p>For further enquiries send me an email at joojoquartey11@gmail.com</p>
            </div>
        </div>
      </div>

    </div>


    {{>footer}}

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script src="js/materializejs/materialize.js"></script>
    <script type="text/javascript">
        $(()=>{
          $('.sidenav').sidenav();
        });
    </script>
  </body>
</html>
