


<footer style="background-color:#90a4ae; height:70px;">
    <div class="footer-copyright blue-gray lighten-1" style="margin-top:20px;">
          <div class="container">
            <span class="white-text left">© 2019 - {{name}}</span>
            <span class="white-text right"><a class="white-text" href='https://www.twitter.com/eustacequartey' target='_blank'>  <i class="fab fa-twitter"></i></a></span>
              <span class="white-text right"><a class="white-text" href='https://www.github.com/eustacequartey' target='_blank'>  <i class="fab fa-github"></i></a></span>
          </div>
</footer>
