<nav class="blue-grey">
  <div class="nav-wrapper">
    <div class="container">
      <a href="/" class="brand-logo">Osoro</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-hamburger"></i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/help">Help</a></li>
      </ul>
    </div>

  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <div class="row blue-grey" style="height:55px;">
    <div class="container">
      <div class="col 12">

        <h5 class="white-text">Osoro</h5>
      </div>
    </div>

  </div>
  <li style="background-color:#f4f6fa"><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
  <li style="background-color:#f4f6fa"><a href="/help">Help</a></li>


</ul>